body{
    margin: 0vh;
    padding: 0vh;
    height: 100vh;
    width: 100vh;
    background-image: linear-gradient(to right,   #000000,#727168, #000000);
    font-family:  arial;
}

h1{
color: beige;
text-align: center;
}

h2{
color: black;
margin-left: 160px;;
}

h3{
color: beige;
text-align: center;
}

p{
text-align: center;
}

main{
    width: 800px;
    margin-left: 285px;
    display: flex;
    flex-flow: column;   
    background: rgba(255, 255, 255, 0.87);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
header{
    background-color: #24880b;
    border-width: 8px; 
    border-radius: 10px;
}

